version: '3.9'  

services:
  identity-api:
    build:
      context: ./littleShop.identity
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres-db;Database=mydatabase;Username=postgres;Password=mysecretpassword
    depends_on:
      - postgres-db

  postgres-db:
    image: postgres:18
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"
    volumes:
      - ./docker_data/postgres:/var/lib/postgresql
